################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/obj/Debug
/.vs/Coda/v15
/Coda.sln.DotSettings.user
/.vs/Codetta/v15
