################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Test/obj/Debug
/.vs/Coda/v15
/Coda.sln.DotSettings.user
/.vs/Codetta/v15
/Codetta/OpenType-TT
/Codetta/Codetta.otlfd
/release/Codetta Feb 2018
/release/Codetta 2.0
/Codetta-Bold.otf.hinted
/Codetta-Bold.otf
/Codetta-Bold.html
/Codetta-Bold.fcp
/Codetta-Bold.css
/Codetta-Bold-SVG.ttf
/Codetta unhinted.vfc
/Codetta-Italic.fcp
